.element__heart {
  background: url("../../../images/heart.svg") no-repeat;
  background-position: center;
  height: 19px;
  width: 22px;
  cursor: pointer;
  

  -webkit-transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  -ms-transition: opacity 0.6s ease-in-out;
  -o-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
  border: none;
}

.element__heart:hover {
  opacity: 0.2;
}

.element__heart:active {
  background-image: url("../../../images/heart-black.svg");
}

