.register__input {
  margin-top: 20px;
  border: none;
  height: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  background-color: #000000;
  color: #FFFFFF;
  padding-bottom: 13px;
  border-bottom: 2px solid #CCCCCC;
}